@import '../styles/base/constants';

.footer {
  margin-top: auto;
  background-color: $color-additional;
  padding: 10px $width-max-padding;
  border-top: 10px solid $color-basic;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.github {
  display: flex;
  align-items: center;

  &__image,
  &__link:not(:last-child) {
    margin-right: $indent-basic;
  }
}

.rs-school {
  display: flex;
  align-items: center;

  &__text {
    margin-right: $indent-basic;
  }

  &__image {
    fill: currentColor;
  }
}